* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

/* common class start  */
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.primary-btn {
  padding: 15px 45px;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  background: rgba(230, 83, 60, 1);
  border: 2px solid rgba(230, 83, 60, 1);
  border-radius: 100px;
  transition: all 0.3s;
}

.secondary-btn {
  padding: 15px 45px;
  font-size: 1.2rem;
  font-weight: 500;
  /* color: rgba(230, 83, 60, 1); */
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  transition: all 0.3s;
}

.section-header {
  margin: 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-header h2,
.extra-mile-content h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 3rem;
}

.section-header p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  margin: 10px 0 30px;
  max-width: 700px;
}

.extra-mile-content p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  margin: 10px 0 30px;
}
/* common class end */

body {
  background: rgba(0, 0, 0, 0.9);
}

header {
  background: linear-gradient(
    180deg,
    rgba(17.41, 17.41, 17.41, 1) 0%,
    rgba(119.41, 119.41, 119.41, 0) 100%
  );
}

/* nav section start */
.nav {
  padding: 50px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  color: rgba(230, 83, 60, 1);
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.nav-link ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-link ul li a {
  padding: 8px 20px;
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.nav-link ul li a:hover {
  background: rgba(230, 83, 60, 1);
}
/* nav section end  */

/* hero section start */
.hero {
  display: flex;
  gap: 30px;
  padding: 50px 0px 0px;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  /* flex-basis: 520px; */
}

.hero-content h1 {
  font-size: 5rem;
  max-width: 520px;
  color: rgba(255, 255, 255, 1);
}

.hero-content p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}
.hero-btn-group {
  margin: 30px 0 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-image {
  flex-basis: calc(100% - 600px);
  text-align: center;
}
/* hero section end  */

/* Change Your Habits section start  */
.change-habits-card-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.change-habits-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 50px auto 0;
}

.change-habits-card img {
  width: 100%;
  vertical-align: middle;
  border-radius: 50%;
}

.change-habits-card h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.4rem;
}

.change-habits-card p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  padding-top: 10px;
}
/* Change Your Habits section end */

/* Extra Mile section start */
.extra-mile {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 30px;
  margin: 100px auto 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
}

.extra-mile-image img {
  width: 100%;
  vertical-align: middle;
  border-radius: 8px;
}
/* Extra Mile section end */

/* Trainings and Exercises section start */
.training-exercise-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
}

.training-exercise-grid div:nth-child(2),
.training-exercise-grid div:nth-child(4) {
  grid-column: span 2;
}

.training-exercise-grid img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  /* mix-blend-mode: multiply; */
}

.training-exercise-grid-1,
.training-exercise-grid-2,
.training-exercise-grid-3,
.training-exercise-grid-4,
.training-exercise-grid-5,
.training-exercise-grid-6 {
  position: relative;
}

.training-exercise-grid-1::after,
.training-exercise-grid-2::after,
.training-exercise-grid-3::after,
.training-exercise-grid-4::after,
.training-exercise-grid-5::after,
.training-exercise-grid-6::after {
  content: "";
  position: absolute;
  inset: 0;
}

.training-exercise-grid-1::after {
  background: rgba(6, 255, 210, 0.3);
}

.training-exercise-grid-2::after {
  background: rgba(255, 0, 0, 0.26);
}

.training-exercise-grid-3::after {
  background: rgba(0, 0, 0, 0.5);
}

.training-exercise-grid-4::after {
  background: rgba(0, 0, 0, 0.5);
}

.training-exercise-grid-5::after {
  background: rgba(66, 255, 0, 0.2);
}

.training-exercise-grid-6::after {
  background: rgba(0, 71, 255, 0.3);
}

.training-exercise-grid p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 0px 10px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 1rem;
  z-index: 1;
}
/* Trainings and Exercises section end */

/* meet our team section start  */
.our-team-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 350px);
  gap: 30px;
  padding: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
}

.our-team-card{
  position: relative;
}

.our-team-card img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.our-team-card-info{
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px 50px 10px 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.our-team-card-info h3{
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 1);
}

.our-team-card-info p{
  font-size: 1rem;
  padding-top: 6px;
  color: rgba(255, 255, 255, 0.8);
}
/* meet our team section end */