* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

/* common class start  */
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.primary-btn {
  padding: 15px 45px;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  background: rgba(230, 83, 60, 1);
  border: 2px solid rgba(230, 83, 60, 1);
  border-radius: 100px;
  transition: all 0.3s;
}

.primary-btn:hover {
  color: rgba(230, 83, 60, 1);
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(230, 83, 60, 1);
  box-shadow: 0 0 10px rgba(230, 83, 60, 1);
  transform: scale(0.99);
}

.secondary-btn {
  padding: 15px 45px;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  transition: all 0.3s;
}

.secondary-btn:hover {
  color: rgba(230, 83, 60, 1);
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(230, 83, 60, 1);
  box-shadow: 0 0 10px rgba(230, 83, 60, 1);
  transform: scale(0.99);
}

.section-header {
  margin: 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-header h2,
.extra-mile-content h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 3rem;
}

.section-header p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  margin: 10px 0 30px;
  max-width: 700px;
}

.extra-mile-content p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  margin: 10px 0 30px;
}
/* common class end */

body {
  background: rgba(0, 0, 0, 0.9);
}

header {
  background: linear-gradient(
    180deg,
    rgba(17.41, 17.41, 17.41, 1) 0%,
    rgba(119.41, 119.41, 119.41, 0) 100%
  );
}

/* nav section start */
.nav {
  padding: 50px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  color: rgba(230, 83, 60, 1);
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 800;
}

.logo h1:hover {
  text-shadow: 0 0 2px rgba(230, 83, 60, 1);
}

.nav-link ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-link ul li a {
  padding: 8px 20px;
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  border: 1px solid transparent;
  transition: all 0.3s;
}

.nav-link ul li a:hover {
  background: rgba(230, 83, 60, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(230, 83, 60, 1);
}
/* nav section end  */

/* hero section start */
.hero {
  display: flex;
  gap: 30px;
  padding: 50px 0px 0px;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  /* flex-basis: 520px; */
}

.hero-content h1 {
  font-size: 5rem;
  max-width: 520px;
  color: rgba(255, 255, 255, 1);
}

.hero-content p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}
.hero-btn-group {
  margin: 30px 0 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-image {
  flex-basis: calc(100% - 600px);
  text-align: center;
}
/* hero section end  */

/* Change Your Habits section start  */
.change-habits-card-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  gap: 30px;
  margin: 50px auto 0;
}

.change-habits-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.change-habits-card img {
  width: 100%;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.change-habits-card img:hover,
.extra-mile-image img:hover,
.our-team-card img:hover {
  outline: 3px solid rgba(255, 255, 255, 1);
  outline-offset: -3px;
  transform: scale(0.95);
  opacity: 0.8;
  box-shadow: 0 0 20px rgba(230, 83, 60, 1);
}

.change-habits-card h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.4rem;
}

.change-habits-card p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  padding-top: 10px;
}
/* Change Your Habits section end */

/* Extra Mile section start */
.extra-mile {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 30px;
  margin: 100px auto 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
}

.extra-mile-image img {
  width: 100%;
  vertical-align: middle;
  border-radius: 8px;
  transition: all 0.3s;
}
/* Extra Mile section end */

/* Trainings and Exercises section start */
.training-exercise-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
}

.training-exercise-grid div:nth-child(2),
.training-exercise-grid div:nth-child(4) {
  grid-column: span 2;
}

.training-exercise-grid img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: all 0.3s;
  /* mix-blend-mode: multiply; */
}

.training-exercise-grid-1,
.training-exercise-grid-2,
.training-exercise-grid-3,
.training-exercise-grid-4,
.training-exercise-grid-5,
.training-exercise-grid-6 {
  position: relative;
}

.training-exercise-grid-1::after,
.training-exercise-grid-2::after,
.training-exercise-grid-3::after,
.training-exercise-grid-4::after,
.training-exercise-grid-5::after,
.training-exercise-grid-6::after {
  content: "";
  position: absolute;
  inset: 0;
}

.training-exercise-grid-1::after {
  background: rgba(6, 255, 210, 0.3);
}

.training-exercise-grid-2::after {
  background: rgba(181, 42, 251, 0.26);
}

.training-exercise-grid-3::after {
  background: rgba(250, 4, 4, 0.4);
}

.training-exercise-grid-4::after {
  background: rgba(0, 0, 0, 0.5);
}

.training-exercise-grid-5::after {
  background: rgba(66, 255, 0, 0.2);
}

.training-exercise-grid-6::after {
  background: rgba(0, 71, 255, 0.3);
}

.training-experience-tag {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 1rem;
  z-index: 1;
}
/* Trainings and Exercises section end */

/* meet our team section start  */
.our-team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 350px);
  gap: 30px;
  padding: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
}

.our-team-card {
  position: relative;
}

.our-team-card img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: all 0.3s;
}

.our-team-card-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px 50px 10px 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.our-team-card-info h3 {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 1);
}

.our-team-card-info p {
  font-size: 1rem;
  padding-top: 6px;
  color: rgba(255, 255, 255, 0.8);
}

.our-team-card:hover .our-team-card-info {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: -1px;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
  transform: scale(0.85);
}
/* meet our team section end */

/* footer section start */
footer {
  padding: 50px 0px 20px;
  margin: 100px auto 0;
  background: rgba(0, 0, 0, 0.9);
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.footer-top .logo {
  max-width: 450px;
}

.footer-top-link {
  display: flex;
  gap: 80px;
}

.footer-top .logo p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
}

.footer-get-start {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 20px;
  width: 300px;
}

.footer-get-start a {
  transition: all 0.3s;
}

.footer-get-start a:hover {
  transform: scale(1.02);
  letter-spacing: 2px;
  color: rgba(230, 83, 60, 1);
  /* box-shadow: inset 0 -0.5px 0 0 #ffeb3b; */
}

.footer-get-start h3 {
  font-size: 1.3rem;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 1);
}

hr {
  background: rgba(255, 255, 255, 1);
  margin: 30px auto;
  height: 1px;
  opacity: 0.4;
}

.footer-bottom {
  font-size: 1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
/* footer section end */

@media screen and (max-width: 576px) {
  .container {
    padding: 0px 20px;
  }

  .nav,
  .footer-top,
  .hero-btn-group {
    flex-direction: column;
    gap: 10px;
  }
.nav .logo{
  padding-top: 30px;
}

  .nav-link ul {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-link ul li a {
    padding: 5px 10px;
  }

  .hero,
  .extra-mile {
    flex-direction: column-reverse;
  }

  .hero-image img{
    width: 100%;
  }

  .change-habits-card-container {
    flex-wrap: wrap;
  }

  .extra-mile {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .training-exercise-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 250px);
  }

  .training-exercise-grid div:nth-child(2),
  .training-exercise-grid div:nth-child(4) {
    grid-column: span 1;
  }

  .our-team-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 250px);
    border-radius: 8px;
    gap: 20px;
  }

  .footer-top {
    text-align: center;
  }

  .footer-top-link {
    margin-top: 20px;
    flex-direction: column;
    gap: 30px;
  }

  .footer-get-start {
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px;
    width: auto;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {

  .container {
    padding: 0px 20px;
  }

  .nav,
  .footer-top{
    flex-direction: column;
    gap: 10px;
  }
  
  .training-exercise-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .training-exercise-grid div:nth-child(2),
  .training-exercise-grid div:nth-child(4) {
    grid-column: span 1;
  }

  .our-team-grid {
    grid-template-columns: repeat(2, 1fr);
    border-radius: 8px;
    gap: 20px;
  }


  .footer-top {
    text-align: center;
    flex-direction: column;
  }

  .footer-top-link {
    gap: 50px;
  }

  .footer-get-start {
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px;
    width: auto;
  }

}
