* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

/* common class start  */
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.primary-btn {
  padding: 15px 45px;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  background: rgba(230, 83, 60, 1);
  border: 2px solid rgba(230, 83, 60, 1);
  border-radius: 100px;
  transition: all 0.3s;
}

.secondary-btn {
  padding: 15px 45px;
  font-size: 1.2rem;
  font-weight: 500;
  /* color: rgba(230, 83, 60, 1); */
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  transition: all 0.3s;
}
/* common class end */
body{
  background: rgba(0, 0, 0, .9);
}


header {
  background: linear-gradient(
    180deg,
    rgba(17.41, 17.41, 17.41, 1) 0%,
    rgba(119.41, 119.41, 119.41, 0) 100%
  );
}

/* nav section start */
.nav {
  padding: 50px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  color: rgba(230, 83, 60, 1);
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.nav-link ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-link ul li a {
  padding: 8px 20px;
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.nav-link ul li a:hover {
  background: rgba(230, 83, 60, 1);
}
/* nav section end  */

/* hero section start */
.hero {
  display: flex;
  gap: 30px;
  padding: 50px 0px 0px;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  /* flex-basis: 520px; */
}

.hero-content h1 {
  font-size: 5rem;
  max-width: 520px;
  color: rgba(255, 255, 255, 1);
}

.hero-content p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}
.hero-btn-group{
  margin: 30px 0 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-image{
  flex-basis: calc(100% - 600px);
  text-align: center;
}
/* hero section end  */
